/.phpunit.cache
/.phpunit.result.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor

.env
.env.*
!.env.example
auth.json

Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

/.codex
/.config
/graphify-out
/AGENTS.md
/.fleet
/.idea
/.vscode

.DS_Store
